*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('images/background.jpg');
    background-repeat:no-repeat;
}

.input{
    text-align: center;
    margin: 200px 0;
    
}

input[type="text"]{
    height: 40px;
    width: 400px;
    background:rgb(230, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 2px;
}


input[type="submit"]{
    height: 40px;
    width: 100px;
    background:rgb(230, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    border: none;
    border-radius: 2px;
}

.display{
    text-align: center;
}

.header{
    display: flex;
    justify-content: center;
    margin: 100px 0;

}