*{
    box-sizing: border-box;
    margin: 0;
    gap: 20px;
    background-color: rgb(233, 237, 240);
}

.top{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    padding: 20px;
    background-color: rgb(243, 242, 242);
    margin-bottom: 10px;
}

.nav{
    display: flex;
    justify-self: flex-end;
    align-self: flex-end;
    gap: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.me{
    padding: 50px;
    display: grid;
    grid-template-rows: 100px 100px 100px;
    
    
}

.skills{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}